[submodule "filestorage"]
	path = filestorage
	url = https://github.com/DIvanCode/filestorage
[submodule "isolate"]
	path = Exesh/isolate
	url = https://github.com/ioi/isolate.git
[submodule "testlib"]
	path = Exesh/testlib
	url = https://github.com/MikeMirzayanov/testlib
[submodule "Taski/tasks"]
	path = Taski/tasks
	url = https://github.com/DIvanCode/CoDuels-Tasks
