name: Duely
on:
  pull_request:
    paths:
      - Duely/**
defaults:
  run:
    shell: bash
    working-directory: Duely
jobs:
  Test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET 8.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          dotnet-quality: ga
      - name: Run tests with code coverage
        run: dotnet test --configuration Release --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=cobertura
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: Duely/tests/**/TestResults/**/*.cobertura.xml
      - name: Generate report file
        run: |
          mkdir -p reports
          echo "test" > reports/SummaryGithub.md
      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
        with:
          reports: Duely/tests/**/TestResults/**/*.cobertura.xml
          targetdir: reports
          reporttypes: HtmlInline,Cobertura,Html,MarkdownSummaryGithub
          verbosity: Info
          toolpath: reportgeneratortool
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: CoverageReport       
          path: reports
      - name: Add comment with coverage to PR
        if: github.event_name == 'pull_request'
        run: gh pr comment $PR_NUMBER --edit-last --create-if-none --body-file reports/SummaryGithub.md
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.number }}
      - name: Publish coverage in build summary
        run: cat reports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
        shell: bash

