name: Duely
on:
  pull_request:
    paths:
      - Duely/**
defaults:
  run:
    shell: bash
    working-directory: Duely
jobs:
  Test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET 8.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          dotnet-quality: ga
      - name: Run tests with code coverage
        run: dotnet test --configuration Release --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=cobertura
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: Duely/tests/**/TestResults/**/*.cobertura.xml
      - name: Add comment to PR
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: Duely/tests/coverage_report/SummaryGithub.md
          message: test
          recreate: true
      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
        with:
          reports: Duely/tests/**/TestResults/**/*.cobertura.xml
          targetdir: Duely/tests/coverage_report
          reporttypes: HtmlInline;Cobertura
          verbosity: Info
          toolpath: reportgeneratortool
      - name: Add comment to PR
        if: github.event_name == 'pull_request'
        run: gh pr comment $PR_NUMBER --edit-last --create-if-none --body-file Duely/tests/coverage_report/SummaryGithub.md
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.number }}
      - name: Publish coverage in build summary
        run: cat Duely/tests/coveragereport/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
        shell: bash

