name: ExeshDeploy
on: pull_request

defaults:
  run:
    shell: bash
    working-directory: Exesh
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: docker.io/eewynell/coduels-exesh:latest
          context: Exesh
