name: TaskiDeploy
on: pull_request

defaults:
  run:
    shell: bash
    working-directory: Taski
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: docker.io/eewynell/coduels-taski:latest
          context: Taski
